<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <meta content="Guía 16 - Ejercicio 01" name="description" />
  <meta content="Silvia R. Otaka" name="author" />
  <title>Inicio - Librería</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="./img/favicon02.ico" />

  <!-- Font: Montserrat -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <!-- Font: Roboto -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Font: Carattere -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet" />

  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>

<body>

  <!-- ======= NAVBAR =======  -->
  <nav th:replace="utilities::navbar-index"></nav>
  <!-- ======= END NAVBAR =======  -->

  <!-- ======= Texto Landing Page ======= -->
  <header class="masthead">
    <div class="container">
      <div class="masthead-subheading">Bienvenidos a Librería Sakura </div>
      <div class="masthead-heading">DONDE LA MAGIA ES REAL</div>
    </div>
  </header>
  <!-- ======= End Texto Landing Page ======= -->


  <div class=sub-body>
    <div class="container">
      <div class="row my-auto g-4 justify-content-evenly">
        <div class="card text-white bg-secondary mb-3 clickable-card" style="max-width: 35rem;" id="cards">
          <a class="text-decoration-none" th:href="@{/autores}">
            <div class="row g-0">

              <div class="col-md-4 index-autor"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">AUTORES</h3>
                  <p class="card-text">"Ser escritor es robarle vida <br> a la muerte."</p>
                  <p class="card-text">~ Alfredo Conde ~</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card text-white bg-secondary mb-3 clickable-card" style="max-width: 35rem;" id="cards">
          <a class="text-decoration-none" th:href="@{/editoriales}">
            <div class="row g-0">
              <div class="col-md-4 index-editorial"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">EDITORIALES</h3>
                  <p class="card-text">"El «para siempre» está hecho<br> de muchos «ahoras»."</p>
                  <p class="card-text">~ Emily Dickson ~</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card text-white bg-secondary mb-3 clickable-card" style="max-width: 35rem;" id="cards">
          <a class="text-decoration-none" th:href="@{/libros}">
            <div class="row g-0">
              <div class="col-md-4 index-libro"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">LIBROS</h3>
                  <p class="card-text">"Un libro es un sueño <br>que tienes en tus manos."</p>
                  <p class="card-text">~ Neil Gaiman ~</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- =======  END CARDS =======  -->
  <br><br><br>

  <!-- ======= ABOUT US SECTION ======= -->
  <section th:replace="utilities::aboutus"></section>
  <!-- ======= END ABOUT US SECTION ======= -->

  <!-- ======= CONTACT US SECTION ======= -->
  <section th:replace="utilities::contactus"></section>
  <br><br><br><br><br><br>
  <!-- ======= END CONTACT US SECTION ======= -->

  <!-- =======  FOOTER =======  -->
  <footer th:replace="utilities::footer"></footer>
  <!-- =======  END FOOTER =======  -->

  <!-- =======  JavaScript =======  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- ======= Bootstrap Javascript para Contact us Section ======= -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>
  <!-- ======= End Bootstrap Javascript para Contact us Section ======= -->

</body>

</html>