<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <meta content="Guía 16 - Ejercicio 01" name="description" />
  <meta content="Silvia R. Otaka" name="author" />
  <title>Inicio - Librería</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="./img/favicon02.ico" />

  <!-- Font: Montserrat -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <!-- Font: Roboto -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Font: Carattere -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet" />

  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>

<body style="overflow:scroll">

  <!-- ======= NAVBAR =======  -->
  <nav th:replace="utilities::navbar-index"></nav>
  <!-- ======= END NAVBAR =======  -->

  <!-- ======= Texto Landing Page ======= -->
  <header class="masthead">
    <div class="container">
      <div class="masthead-subheading">Bienvenidos a Librería Sakura </div>
      <div class="masthead-heading">DONDE LA MAGIA ES REAL</div>
    </div>
  </header>
  <!-- ======= End Texto Landing Page ======= -->


  <div class=sub-body>
    <div class="container">
      <div class="row my-auto g-4 justify-content-evenly">
        <div class="card text-white bg-secondary mb-3 clickable-card" style="max-width: 35rem;" id="cards">
          <a class="text-decoration-none" th:href="@{/autores}">
            <div class="row g-0">

              <div class="col-md-4 index-autor"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">AUTORES</h3>
                  <p class="card-text">"Ser escritor es robarle vida <br> a la muerte."</p>
                  <p class="card-text">~ Alfredo Conde ~</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card text-white bg-secondary mb-3 clickable-card" style="max-width: 35rem;" id="cards">
          <a class="text-decoration-none" th:href="@{/editoriales}">
            <div class="row g-0">
              <div class="col-md-4 index-editorial"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">EDITORIALES</h3>
                  <p class="card-text">"El «para siempre» está hecho<br> de muchos «ahoras»."</p>
                  <p class="card-text">~ Emily Dickson ~</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card text-white bg-secondary mb-3 clickable-card" style="max-width: 35rem;" id="cards">
          <a class="text-decoration-none" th:href="@{/libros}">
            <div class="row g-0">
              <div class="col-md-4 index-libro"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">LIBROS</h3>
                  <p class="card-text">"Un libro es un sueño <br>que tienes en tus manos."</p>
                  <p class="card-text">~ Neil Gaiman ~</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  
  <!-- =======  END CARDS =======  -->

  <!-- ======= About us Section ======= -->

  <section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <br />
        <h2 class="section-heading text-uppercase" id="team_text">
          Nuestro increíble equipo
        </h2>
        <h3 class="section-subheading" id="conocelas">Conócenos</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 mb-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="./img/TeamMember01.png" alt="..." />
            <h4>The Baroness</h4>
            <p class="text-muted">CEO</p>
            <a href="#"><img class="mx-auto" src="./img/icon_linkedin.png" style="width: 12%; height: 12%; border: none"
                title="The Baroness Official LinkedIn Account" /></a>
            <a href="#"><img class="mx-auto" src="./img/icon_mail.png" style="width: 12%; height: 12%; border: none"
                title="The Baroness Official Mail Account" /></a>
            <a href="#"><img class="mx-auto" src="./img/icon_web.png" style="width: 12%; height: 12%; border: none"
                title="The Baroness Official Web Page" /></a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="./img/TeamMember02.png" alt="..." />
            <h4>Diana Prince</h4>
            <p class="text-muted">Finance Manager</p>
            <a href="#"><img class="mx-auto" src="./img/icon_linkedin.png" style="width: 12%; height: 12%; border: none"
                title="Diana Prince Official LinkedIn Account" /></a>
            <a href="#"><img class="mx-auto" src="./img/icon_mail.png" style="width: 12%; height: 12%; border: none"
                title="Diana Prince Official Mail Account" /></a>
            <a href="#"><img class="mx-auto" src="./img/icon_web.png" style="width: 12%; height: 12%; border: none"
                title="Diana Prince Official Web Page" /></a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="./img/TeamMember03.png" alt="..." />
            <h4>Silvia Otaka</h4>
            <p class="text-muted">Lead Developer</p>
            <a href="#"><img class="mx-auto" src="./img/icon_linkedin.png" style="width: 12%; height: 12%; border: none"
                title="Silvia Otaka Official LinkedIn Account" /></a>
            <a href="#"><img class="mx-auto" src="./img/icon_mail.png" style="width: 12%; height: 12%; border: none"
                title="Silvia Otaka Official Mail Account" /></a>
            <a href="#"><img class="mx-auto" src="./img/icon_web.png" style="width: 12%; height: 12%; border: none"
                title="Silvia Otaka Official Web Page" /></a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="./img/TeamMember04.png" alt="..." />
            <h4>Gwen Stacy</h4>
            <p class="text-muted">Lead Marketer</p>
            <a href="#"><img class="mx-auto" src="./img/icon_linkedin.png" style="width: 12%; height: 12%; border: none"
                title="Gwen Stacy Official LinkedIn Account" /></a>
            <a href="#"><img class="mx-auto" src="./img/icon_mail.png" style="width: 12%; height: 12%; border: none"
                title="Gwen Stacy Official Mail Account" /></a>
            <a href="#"><img class="mx-auto" src="./img/icon_web.png" style="width: 12%; height: 12%; border: none"
                title="Gwen Stacy Official Web Page" /></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">
            Proveemos soluciones integrales e inteligentes a nuestros
            clientes, <br />
            ayudándolos a lograr una ventaja competitiva sustentable.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= End About us Section ======= -->

  <!-- ======= Contact us Section ======= -->

  <section class="contact-form" id="contact-form">
    <!-- <section class="ftco-section"> -->
    <div class="container">
      <br>
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section" id="contactanos-form">CONTÁCTANOS</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="wrapper img" style="background-image: url(img/contact-us-02.jpg)">
            <div class="row">
              <div class="col-md-9 col-lg-7">
                <div class="contact-wrap w-100 p-md-5 p-4">
                  <h3 class="mb-4">Envíenos su consulta</h3>
                  <div id="form-message-warning" class="mb-4"></div>
                  <div id="form-message-success" class="mb-4">
                    Su mensaje ha sido enviado. ¡Muchas gracias!
                  </div>
                  <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label" for="name">Nombre y Apellido</label>
                          <input type="text" class="form-control" name="name" id="name"
                            placeholder="Nombre y Apellido" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label" for="email">Email</label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="subject">Asunto</label>
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="#">Mensaje</label>
                          <textarea name="message" class="form-control" id="message" cols="30" rows="4"
                            placeholder="Escriba su mensaje aquí..."></textarea>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <br><br>
                          <input type="submit" value="Enviar mensaje" class="btn btn-secondary" />
                          <div class="submitting"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <br><br><br><br><br><br>
  <!-- ======= End Contact us Section ======= -->
  </div>
  <!-- =======  FOOTER =======  -->
  <footer th:replace="utilities::footer"></footer>
  <!-- =======  END FOOTER =======  -->

  <!-- =======  JavaScript =======  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- ======= Bootstrap Javascript para Contact us Section ======= -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>
  <!-- ======= End Bootstrap Javascript para Contact us Section ======= -->

  <!-- FECHA -->
  <script type="text/javascript">
    var months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Deciembre'];
    var today = new Date();
    document.getElementById("spanDate").innerHTML = today.getDate() + " de " + months[today.getMonth()] + ", " + today.getFullYear();
  </script>

</body>

</html>